/*Обнуленя*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea, select, option{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
    background-color: rgb(43, 43, 43);
    font-family: Arial, Helvetica, sans-serif;
}
header {
    width: 100%;
    max-width: 100%;
    color: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    background-color: rgb(19, 18, 18);
    padding: 0 15px;
    box-sizing: border-box;
}
.header__logo {
    margin: 30px 0;
    font-size: 26px;
}
.header__description {
    margin-left: 50px;
    font-size: 16px;
}
.header__description a{
    color: #fff;
}
.header__el {
    display: flex;
    list-style: none;
    font-size: 16px;
    margin-left: auto;
}
.header__el a{
    color: #fff;
}
.header__el a + a {
    margin-left: 15px;
}
.under__header{
    padding: 10px 0;
    background-color: rgb(66, 96, 116);
    display: flex;
    color: #fff;
    list-style: none;
    font-size: 16px;
    justify-content: center;
}
.under__header a{
    color: #fff;
}
.under__header a+a{
    padding-left: 50px;
}
main{
    padding-top: 50px;
    display: flex;
    margin: 0 15px;
}
.main__title{
    color: #fff;
    font-size: 23px;
    text-align: center;
}
.main__block1{
    width: 1500px;
    background-color: aliceblue;
    margin-top: 30px;
    padding: 15px 0;
    border-radius: 5px;
    text-align: center;
    display: block;
    color: #000;
}
.main__block1__title{
    font-size: 16px;
}
.main__block1__details{
    font-size: 15px;
    padding-top: 10px;
}
.main__block2{
    width: 1500px;
    background-color: aliceblue;
    padding: 15px 0;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    display: block;
    color: #000;
}
.main__block2__title{
    font-size: 16px;
}
.main__block2__details{
    font-size: 15px;
    padding-top: 10px;
}
.midd__blocks__flex{
    display: flex;
    margin-top: 15px;
}
.main__block3{
    width: 490px;
    background-color: rgb(211, 235, 255);
    padding: 15px 0;
    border-radius: 5px;
    text-align: center;
}
.main__block3__title{
    font-size: 16px;
}
.main__block3__details{
    font-size: 15px;
    padding-top: 10px;
}
.main__block4{
    width: 490px;
    background-color: rgb(211, 235, 255);
    padding: 15px 0;
    border-radius: 5px;
    text-align: center;
    margin-left: 15px;
}
.main__block4__title{
    font-size: 16px;
}
.main__block4__details{
    font-size: 15px;
    padding-top: 10px;
}
.main__block5{
    width: 490px;
    background-color: rgb(211, 235, 255);
    padding: 15px 0;
    border-radius: 5px;
    text-align: center;
    margin-left: 15px;
}
.main__block5__title{
    font-size: 16px;
}
.main__block5__details{
    font-size: 15px;
    padding-top: 10px;
}
.main__block6{
    width: 1500px;
    background-color: rgb(253, 193, 193);
    padding: 15px 0;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
    display: block;
    color: #000;
}
.main__block6__title{
    font-size: 16px;
}
.main__block6__details{
    font-size: 15px;
    padding-top: 10px;
}
.main__block7{
    width: 1500px;
    background-color: rgb(253, 193, 193);
    padding: 15px 0;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}
.main__block7__title{
    font-size: 16px;
}
.main__block7__details{
    font-size: 15px;
    padding-top: 10px;
}
.main__block8{
    width: 1500px;
    background-color: rgb(253, 193, 193);
    padding: 15px 0;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}
.main__block8__title{
    font-size: 16px;
}
.main__block8__details{
    font-size: 15px;
    padding-top: 10px;
}
.adv{
    width: 380px;
    background-color: rgb(106, 151, 202);
    margin-left: 15px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
}
footer{
    list-style: none;
    background-color: rgb(26, 23, 23);
    color: #fff;
    font-size: 16px;
    padding: 30px 15px;
    margin-top: 41px;
}
footer p{
    text-align: center;
    padding: 15px 0 0 0;
}
.footer__block{
    background-color: rgb(65, 96, 155);
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
    border-radius: 5px;
}

/* SECOND PAGE */
.second__main__container{
   display: flex;
   justify-content: center;
   margin-top: 30px;
}
.sec__main__container__inner{
    display: flex;
    flex-direction: column;
}
.main__blocks__container{
    display: flex;
    margin-top: 25px;
}
.block{
    width: 480px;
    background-color: cornflowerblue;
    margin-right: 15px;
    padding: 0 10px 15px 10px;
}
.block__title{
    font-size: 18px;
    color: #000;
    padding: 15px 0;
}
.block__text{
    font-size: 16px;
}

/*THIRD PAGE*/
.third__container{
    display: flex;
    justify-content: center;
}
.third__container__inner{
    width: 1800px;
    background-color: rgb(93, 55, 122);
    display: flex;
    margin-top: 30px;
    border-radius: 15px;
}
.third__container__inner img{
    width: 500px;
    border-radius: 15px;
}
.text__with__img{
    width: 1100px;
    font-size: 19px;
    padding: 30px 0 0 50px;
}

/*SERVICE PAGE*/
.service{
    display: flex;
    justify-content: center;
}
.services__container__inner{
    margin-top: 43px;
}
.services__container__imgs img{
    width: 550px;
    height: 400px;
    border-radius: 15px;
}
.services__container__imgs img:last-child{
    margin-left: 30px;
}
.services__container__imgs img:first-child{
    margin-right: 30px;
}
.service__info{
    width: 1718px;
    font-size: 16px;
    background-color: azure;
    padding: 15px;
    margin-top: 30px;
    border-radius: 15px;
}
.main__title__serv{
    margin-top: 50px;
    color: #fff;
    font-size: 23px;
    text-align: center;
}

.interesting__container{
    display: flex;
    justify-content: center;
}
.int__container__inner__wrapp{
    display: flex;
    flex-direction: column;
}
.interesting__container__inner{
    width: 1600px;
    background-color: rgb(93, 55, 122);
    display: flex;
    margin-top: 30px;
    border-radius: 15px;
}
.interesting__container__inner img{
    width: 350px;
    height: 250px;
    border-radius: 15px;
}
.text__with__img{
    width: 1100px;
    font-size: 19px;
    padding: 30px 0 0 50px;
}
.vidgets{
    width: 1600px;
    display: flex; 
    justify-content: space-between;
    margin: 165px 0;
}
